/* ------------------------------------
----------------Start Variables 
--------------------------------------*/
:root {
    --primarycolor: #ff274b;
    --secondaryColor: #f7bcf7;
    --lightColor: #fff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;
}

/* ------------------------------------
----------------End Variables 
--------------------------------------*/

/* ------------------------------------
----------------Start Global Rules 
--------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
    scroll-behavior: smooth;
}


/* ------------------------------------
----------------Start Components 
--------------------------------------*/
.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

span {
    color: var(--primarycolor);
}

h2 {
    font-size: 2.2rem;
    letter-spacing: .12rem;
    cursor: pointer;
}

.home nav {
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

/*only use one each of ↑ or ↓*/
/* .home nav ul {
   display: flex;
   justify-content: space-between;
   list-style: none;
}  */
/* .home nav ul li {
   margin-left: 30px;
} */

.home nav ul li a {
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

.home nav ul li a:hover {
    color: var(--primarycolor);
}

.home .btn {
    background-color: var(--primarycolor);
    color: var(--lightColor);
    text-decoration: none;
    font-width: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .4s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primarycolor);
    /* transform: scale(1.02); */
}

.home .content {
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .content .container-texts {
    position: relative;
    bottom: 70px;
}

h1 {
    font-size: 4.65rem;
    margin: 1.7rem 0;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondaryColor);

}

/*End Components*/

/* ------------------------------------
----------------Start Socials 
--------------------------------------*/
.social {
    margin-top: 3.5rem;
}

.social img {
    margin-right: 2rem;
    width: 2.5rem;
    transition: .4s;
}

.social img:hover {
    transform: translate(8px) scale(1.2);
}

.social a {
    text-decoration: none;
}


/* ------------------------------------
----------------Start Images 
--------------------------------------*/
.home .container-images {
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.home .container-images img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 60%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.home .container-images .shape {
    height: 105%;
    width: 90%;
}

.home .container-images:hover .shape {
    bottom: 30px;
}

.home .container-images:hover .pic {
    left: 55%;
}


/* ------------------------------------
----------------Start About 
--------------------------------------*/
.about {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container-images {
    width: 35%;
}

.about .container-images img {
    width: 90%;
}

.about .container-texts {
    width: 35%;
}

h5 {
    font-size: 1.37rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

p {
    color: var(--secondaryColor);
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    font-size: 1rem;
}


/* ------------------------------------
----------------Start Services 
--------------------------------------*/
.services {
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}

.text-center {
    text-align: center;
}

.services .box {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
    transition: 0.4s;
}

.card:hover {
    margin-top: -5px;
    transform: scale(1.009);
}

.card em {
    font-size: 3.12rem;
    text-align: center;
    color: var(--primarycolor);
    margin: 2rem;
}


/* ------------------------------------
----------------Start Skills 
--------------------------------------*/
.skills .container-images {
    width: 60%;
    padding-left: 100px;
}

.skills .container-images img {
    width: 100%;
}

.skills {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill .container-skills {
    width: 50%;
}

.content-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.skill {
    width: 80px;
    height: 80px;
    background-color: var(--lightColor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.skill img {
    width: 75%;
    transition: all .4s;
}

.skill img:hover {
    transform: scale(1.1);
}

.js {
    border-radius: 25%;
}


/* ------------------------------------
----------------Start Footer 
--------------------------------------*/
footer {
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}

footer .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

footer .content-footer p {
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

footer .content-footer .end {
    color: var(--primarycolor);
    margin-top: 1rem;
}

/* ------------------------------------
----------------Humberger Menu 
--------------------------------------*/
#menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: .4s;
    margin-bottom: 5px;
}

#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span {
    background-color: var(--primarycolor);
}

/* ------------------------------------
----------------Media Queries 
--------------------------------------*/
@media screen and (max-width:575px) {
    :root {
        --padding: 1.5rem;
    }

    html {
        font-size: 13px;
    }

    .home .container-images {
        display: none;
    }

    .home nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    .home nav>a {
        display: none;
    }

    .home nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    .home nav ul.is-active {
        display: block;
    }

    .home nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }

    .home .container-texts {
        bottom: 0;
    }

    .social {
        margin-top: 70px;
    }

    h3 {
        margin-bottom: 70px;
    }

    #menu {
        display: block;
    }

    .about .container-images {
        display: none;
    }

    .about .container-texts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .services .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card:hover {
        margin-top: 0;
    }

    .skills .container-images {
        display: none;
        justify-content: center;
    }

    .skills .container-skills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill {
        width: 60px;
        height: 60px;
    }

    footer .content-footer p{
        width: 100%;
    }
    /* .home h4 {
        padding-top: 70px;
    } */
}

@media screen and (max-width:767px) {
    :root {
        --padding: 1.5rem;
    }

    html {
        font-size: 13px;
    }

    .home .container-images {
        display: none;
    }

    .home nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    .home nav>a {
        display: none;
    }

    .home nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    .home nav ul.is-active {
        display: block;
    }

    .home nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }

    .home .container-texts {
        bottom: 0;
    }

    .social {
        margin-top: 70px;
    }

    h3 {
        margin-bottom: 70px;
    }

    #menu {
        display: block;
    }

    .about .container-images {
        display: none;
    }

    .about .container-texts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .services .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card:hover {
        margin-top: 0;
    }

    .skills .container-images {
        display: none;
        justify-content: center;
    }

    .skills .container-skills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skill {
        width: 60px;
        height: 60px;
    }

    footer .content-footer p{
        width: 100%;
    }
    /* .home h4 {
        margin-top: 20px;
    }
     */
}